<template>
      <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link" href="https://www.google.com/">Ссылка1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.google.com/">Ссылка2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.google.com/">Ссылка3</a>
      </li>
    </ul>
</template>

<script>
export default {
  name: 'NavbarComp',
}
</script>

<style scoped>

</style>