<template>
  <table class="table table-striped table-hover table-bordered">
    <thead>
      <th v-for="(header, index) in headers" :key="index">
        {{ header }}
      </th>
    </thead>
    <tbody v-for="student in students" :key="student.id" @dblclick="editStudent(student)">
    <tr>
      <td v-for="(attr, index) in objectAttrs" :key="index">
        {{ student[attr] }}
      </td>
      <td>
        <button class="btn btn-danger btn-sm mx-1" @click="deleteStudent(student)">X</button>
      </td>
    </tr>
    </tbody>
  </table>
</template>

<script>
export default {
  name: "StudentsTable",
  data() {
    return {
      headers: ['FIO', 'Description', 'Course', ''],
      objectAttrs: ['fio', 'description', 'course'],
      students: []
    }
  },
  async mounted() {
    var response = await fetch('http://localhost:8000/api/biography/');
    this.students = await response.json();

    this.emitter.on("add_event", async () => {
      var get_data = await fetch('http://localhost:8000/api/biography/');
      this.students = await get_data.json()
    });
  },
  methods: {
    async editStudent(student) {
      this.emitter.emit("edit_event", student);
    },
    async deleteStudent(student) {
      this.emitter.emit("delete_event", student);
    },
  }
}
</script>

<style scoped>

</style>