<template>
  <form @submit.prevent="submitForm">
    <div class="form-group row">
      <input type="text" class="form-control col-3 mx-2" placeholder="FIO" v-model="student.fio">
      <input type="text" class="form-control col-3 mx-2" placeholder="Desck" v-model="student.description">
      <input type="number" class="form-control col-3 mx-2" placeholder="Course" v-model="student.course">
      <button class="btn btn-success mx-2">Submit</button>
    </div>
  </form>
</template>

<script>
export default {
  name: "StudentCreateForm",
  data() {
    return {
      student: {},
      students: []
    }
  },
  async mounted() {
    // по двойному клику заполняем поля формы выбранными значениями
    this.emitter.on("edit_event", async (new_student) => {
        this.student = new_student
    });
    this.emitter.on("delete_event", async (deleted_student) => {
      this.deleteStudent(deleted_student);
    });
  },
  methods: {
    submitForm(event){
      if (this.student.id === undefined){
        this.createStudent();
      } else {
        this.editStudent();
      }
      event.target.reset();
    },
    
    async createStudent() {
      this.emitter.emit("add_event");
      await fetch('http://localhost:8000/api/biography/', {
        method: 'post',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(this.student)
      });
      this.emitter.emit("add_event");
    },

    async deleteStudent(deleted_student) {
      this.emitter.emit("add_event");
      await fetch(`http://localhost:8000/api/biography/${deleted_student.id}`, {
        method: 'delete',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(this.student)
      });
      this.emitter.emit("add_event");
    },

    async editStudent() {
      this.emitter.emit("add_event");
      await fetch(`http://localhost:8000/api/biography/${this.student.id}/`, {
        method: 'put',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(this.student)
      });
      this.emitter.emit("add_event");
      this.student = {}
    },
  }
}
</script>

<style scoped>

</style>