<template>
  <div id="App">
    <NavbarComp></NavbarComp>
    <StudentsTable></StudentsTable>
    <StudentCreateForm/>
  </div>
</template>


<script>
import NavbarComp from "@/components/Navbar";
import StudentsTable from "@/components/tables/StudentsTable";
import StudentCreateForm from "@/components/forms/StudentCreateForm";

export default {
  name: 'App',
  components: {NavbarComp, StudentsTable, StudentCreateForm},
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
